body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

    background-size: cover;
    height: 100vh;
    background-position: left;
    background-image: url(./assets/mainBackground.jpg);
}


input {
  outline: none;
  border: none;
}

svg {
  font-size: 1.5rem;
}
